*build*
build
build-*
*/build-*
release/
debug/
*.exe
*.dll
*.so
*.a
*.lib
*.o
*.obj
*.app

moc_*.cpp
ui_*.h
qrc_*.cpp
*.moc
*.qm

.qmake.stash
*.pro.user
*.pro.user.*

Makefile
Makefile.*
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
CMakeLists.txt.user

.idea/
.vs/
.vscode/
*.sln
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.code-workspace

*~
*.bak
*.swp
*.swo
*.core
*.cache

.DS_Store
Thumbs.db
desktop.ini

doc/api/
*.log
*.out

local.properties